
@font-face {font-family: "SF Pro Rounded Regular";
  src: url("../fonts/ead4092f880f75ff0883ced1856b2c37.eot"); /* IE9*/
  src: url("../fonts/ead4092f880f75ff0883ced1856b2c37.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/ead4092f880f75ff0883ced1856b2c37.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/ead4092f880f75ff0883ced1856b2c37.woff") format("woff"), /* chrome、firefox */
  url("../fonts/ead4092f880f75ff0883ced1856b2c37.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/ead4092f880f75ff0883ced1856b2c37.svg#SF Pro Rounded Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "ADAM.CGPRO";
  src: url("../fonts/9339979ff8c290b249e759aa1857de5d.eot"); /* IE9*/
  src: url("../fonts/9339979ff8c290b249e759aa1857de5d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/9339979ff8c290b249e759aa1857de5d.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/9339979ff8c290b249e759aa1857de5d.woff") format("woff"), /* chrome、firefox */
  url("../fonts/9339979ff8c290b249e759aa1857de5d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/9339979ff8c290b249e759aa1857de5d.svg#ADAM.CGPRO") format("svg"); /* iOS 4.1- */
}
@font-face{
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
